body{
    font-family: arial,sans-serif;
    font-size: 80%;
    color: #E5E4E4;
    background-color: black;
    margin: 10px 30%;
}

header {
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 300%;
    width: 340px;
    background-color: #757575;
    border: thin#757575;;
    padding: 20px;
    border-radius: 20px;
}
    
.interface {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
    grid-template-areas: 'display display display';
    grid-gap: 20px;
    padding: 20px 0;
}


.display {
    grid-area: display;
    background-color: #eeeeee;
    border-radius: 20px;
    color: rgb(37, 37, 37);
    font-size: 200%;
    border: none;
    text-align: right;
    padding: 25px;    
}    

.button {
    background-color: #757575;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    font-size: 200%;
    border: none;
}

.operator{
    background-color: #C1C1C1;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    font-size: 200%;
    border: none;
}